.container{
  display: flex;
  max-width: 62.5rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  align-items: end;
}
.top_btn{
  display: flex;
  gap: 2rem;
}
.contact_form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact_form form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.25rem;
}
.form{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.form input{
  height: 2.5rem;
  padding: 0 .5rem;
}
.form textarea{
  padding: .5rem;
}
.form label{
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: .875rem;
  background-color: white;
  padding: 0 .625rem;
}
.contact_image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}